The Electoral Comnmission in Uganda recentlty released result of presidential election. There are 409stations that had 100 percent voter turnout which are contained in the csv file file I attach. In this note book, I sort and sum polling stations with 100 percent per district and sum number of votes each presidential candidate got from these polling stations. I made vizualization using datawrapper.
<a href="https://www.ec.or.ug/2021-general-elections">Electoral Commission data source</a> and 
<a href="https://blanshe.medium.com/"> Always check stories I write on my medium page</a>

In [32]:
import pandas as pd

In [2]:
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
df = pd.read_csv("100% VOTER TURNOUT.csv")

In [4]:
df.head()

,DISTRICT_CODE,DISTRICT_NAME,PARISH_CODE,PARISH_NAME,PS_CODE,PS_NAME,Reg. Voters,AMURIAT,KABULETA,KALEMBE,...,MUGISHA,MWESIGYE,TUMUKUNDE,YOWERI,YOWERI%,YOWERI%.1,VALID,INVALID,TOTAL,VOTER TURNOUT
0,62,ISINGIRO,42,KISHUNJU WARD,1,BUGANGO CATHOLIC CHURCH I,841,0,0,0,...,0,0,0,841,100.0,100.0,841,0,841,100
1,65,KIRUHURA,23,RWABARATA,1,RWEMIKUNYU PRI SCH,826,0,0,0,...,0,0,0,826,100.0,100.0,826,0,826,100
2,65,KIRUHURA,18,EMBARE,7,KYEIBUZA PRI SCH,801,0,0,0,...,0,0,0,801,100.0,100.0,801,0,801,100
3,131,KAZO,44,RWEMIRONDO WARD,1,RWEMIRONDO PRI SCH,799,0,0,0,...,0,0,0,799,100.0,100.0,799,0,799,100
4,62,ISINGIRO,18,NYAMARUNGI,2,NYAMARUNGI PRI SCH,797,0,0,0,...,0,0,0,789,100.0,100.0,789,8,797,100

In [8]:
df1 = df["DISTRICT_NAME"].value_counts()

In [12]:
df1 = pd.DataFrame(df1)

In [13]:
df1.to_csv("district-names.csv")

In [31]:
df1

            DISTRICT_NAME
ISINGIRO              145
KIRUHURA               68
KAZO                   43
NTUNGAMO               26
KAMWENGE               25
SSEMBABULE             15
NAKASEKE               12
BULAMBULI              10
MBARARA                 9
KYANKWANZI              8
GOMBA                   7
NTOROKO                 5
YUMBE                   5
LYANTONDE               4
BUDUDA                  4
BUTEBO                  4
KASESE                  3
MUBENDE                 3
RAKAI                   2
MBALE                   2
KYENJOJO                1
RWAMPARA                1
KYOTERA                 1
BUNDIBUGYO              1
MBALE_CITY              1
KISORO                  1
MITOOMA                 1
KIBOGA                  1
MASINDI                 1

In [30]:
len(df1)

29

In [14]:
df["Reg. Voters"].sum()

168835

In [15]:
df["KYAGULANYI "].sum()

4285

In [16]:
df["YOWERI"].sum()

161864

In [17]:
df["TUMUKUNDE"].sum()

97

In [18]:
df["MWESIGYE "].sum()

63

In [19]:
df["MUGISHA "].sum()

370

In [20]:
df["MAYAMBA "].sum()

14

In [21]:
df["MAO "].sum()

49

In [22]:
df["KATUMBA "].sum()

92

In [25]:
df["KABULETA"].sum()

37

In [26]:
df["KALEMBE "].sum()

48

In [27]:
df["AMURIAT"].sum()

562

In [28]:
df["INVALID"].sum()

1354